---
vfw:
    tosca_file_from_SDC: service-vfw-template
    version: "1.0"
    subscription_type: "vfw"
    vnfs:
        - vnf_name: vfw
          heat_files_to_upload: vfw/vfw.zip
          vnf_parameters: [
              {"vnf-parameter-name":"unprotected_private_net_id",
               "vnf-parameter-value":"zdfw1fwl01_unprotected-ci"},
              {"vnf-parameter-name":"unprotected_private_net_cidr",
               "vnf-parameter-value":"193.168.20.0/24"},
              {"vnf-parameter-name":"protected_private_net_id",
               "vnf-parameter-value":"zdfw1fwl01_protected-ci"},
              {"vnf-parameter-name":"protected_private_net_cidr",
               "vnf-parameter-value":"193.168.10.0/24"},
              {"vnf-parameter-name":"onap_private_net_id",
               "vnf-parameter-value":"oam_net_name-ci"},
              {"vnf-parameter-name":"onap_private_subnet_id",
               "vnf-parameter-value":"oam_subnet_name-ci"},
              {"vnf-parameter-name":"onap_private_net_cidr",
               "vnf-parameter-value":"10.0.111.0/16"},
              {"vnf-parameter-name":"vsn_int_protected_private_ip_0",
               "vnf-parameter-value":"193.168.20.64"},
              {"vnf-parameter-name":"vsn_onap_private_ip_0",
               "vnf-parameter-value":"10.0.111.3"},
              {"vnf-parameter-name":"vpg_onap_private_ip_0",
               "vnf-parameter-value":"10.0.111.2"},
              {"vnf-parameter-name":"vfw_int_protected_private_floating_ip",
               "vnf-parameter-value":"193.168.10.200/32"},
              {"vnf-parameter-name":"vpg_int_unprotected_private_ip_0",
               "vnf-parameter-value":"193.168.10.200/32"},
              {"vnf-parameter-name":"vfw_int_unprotected_private_ip_0",
               "vnf-parameter-value":"193.168.10.100/32"},
              {"vnf-parameter-name":"vfw_int_protected_private_ip_0",
               "vnf-parameter-value":"193.168.20.100/32"},
              {"vnf-parameter-name":"vfw_onap_private_ip_0",
               "vnf-parameter-value":"10.0.111.1"},
              {"vnf-parameter-name":"key_name",
               "vnf-parameter-value":"cleouverte"},
              {"vnf-parameter-name":"sec_group",
               "vnf-parameter-value":"default"},
              {"vnf-parameter-name":"pub_key",
               "vnf-parameter-value":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAA\
BAQDY15cdBmIs2XOpe4EiFCsaY6bmUmK/GysMoLl4UG51JCfJwvwoWCoA+6mDIbymZxhxq9IGx\
ilp/yTA6WQ9s/5pBag1cUMJmFuda9PjOkXl04jgqh5tR6I+GZ97AvCg93KAECis5ubSqw1xOCj4\
utfEUtPoF1OuzqM/lE5mY4N6VKXn+fT7pCD6cifBEs6JHhVNvs5OLLp/tO8Pa3kKYQOdyS0xc3r\
h+t2lrzvKUSWGZbX+dLiFiEpjsUL3tDqzkEMNUn4pdv69OJuzWHCxRWPfdrY9Wg0j3mJesP29EBh\
t+w+EC9/kBKq+1VKdmsXUXAcjEvjovVL8l1BrX3BY0R8D imported-openssh-key"},
              {"vnf-parameter-name":"public_net_id",
               "vnf-parameter-value":"{{ openstack_public_net_id }}"}
          ]
